[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
smart-open = {extras = ["s3"]}
pybloomfiltermmap3 = "*"
jsonlines = "*"
huggingface_hub = "*"

[dev-packages]
ipykernel = "*"
jupyter = "*"
[requires]
python_version = "3.11"
